{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card border-0 shadow-sm">
                <div class="card-body">
                    <h1 class="card-title text-center">Register</h1>
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username">Nome de usuário</label>
                            <input type="text" class="form-control" id="username" name="username" placeholder="Digite seu nome de usuário">
                        </div>
                        <div class="form-group mt-3">
                            <label for="email">E-mail</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu e-mail">
                        </div>
                        <div class="form-group mt-3">
                            <label for="password1">Senha</label>
                            <input type="password" class="form-control" id="password1" name="password1" placeholder="Digite sua senha">
                        </div>
                        <div class="form-group mt-3">
                            <label for="password2">Confirme sua senha</label>
                            <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirme sua senha">
                        </div>
                        <button type="submit" class="btn btn-primary w-100 mt-4">Registrar</button>
                    </form>
                    {% if form.errors %}
                        <div class="alert alert-danger mt-4">
                            {{ form.errors }}
                        </div>
                    {% endif %}
                    <div class="text-center mt-3">
                        <p class="mb-0"><a href="{% url 'login' %}" class="text-primary">Login</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
